@import url("components/live_games.css");
@import url("components/loader.css");

:root{
	--pagecolor:#080D1E;
	--sectioncolor:#181E2E;
	--p1color:#394EF8;
	--p2color:#FF001B;
	--p3color:#03FF2E;
	--p4color:#FFFF37;
	--p5color:#03FFFD;
	--p6color:#FF4BA9;
	--p7color:#6E6E6E;
	--p8color:#FF8B25;
}

body {
	margin: 0;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, li {
	font-family: 'Arimo', sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}

p, th, td {
	color: #C8C8C8;
	font-weight: 400;

}


.navbar {
	background-color: var(--sectioncolor);
	display: flex;
	justify-content: space-between;
}

.container {
	background-color: var(--pagecolor);
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.players {
	background-color: var(--sectioncolor);
	margin: 8px;
	flex: 1;
	padding: 10px;
	margin: 10px;
}

.leaderboard {
	background-color: var(--sectioncolor);
	margin: 8px;
	flex: 1;
}

.recently-completed-games {
	background-color: var(--pagecolor);
	margin: 8px;
	flex: 1;
	min-width: 470px
}


.chat {
	background-color: var(--sectioncolor);
	margin: 8px;
	flex: 1;
}


.player {
	font-size:larger;
	border-radius: 50%;
	height: 25px;
 	width: 25px;
	min-width: 25px;
	min-height: 25px;
	text-align: center;
	top: 50%;
  line-height: 25px;
}
.p1 {
	background-color: var(--p1color);
	font-size: x-large;
}

.p2 {
	background-color: var(--p2color);
	font-size: x-large;
}

.p3 {
	background-color: var(--p3color);
	font-size: x-large;
	color: #008917
}

.p4 {
	background-color: var(--p4color);
	font-size: x-large;
	color: #938200;
}

.p5 {
	background-color: var(--p5color);
	font-size: x-large;
	color: #028C8B
}

.p6 {
	background-color: var(--p6color);
	font-size: x-large;
}

.p7 {
	background-color: var(--p7color);
	font-size: x-large;
}

.p8 {
	background-color: var(--p8color);
	font-size: x-large;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: var(--pagecolor); 
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: var(--sectioncolor) 
 }

.lh-side {
	min-width: 300px;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	border-collapse: collapse;
	display: table;
	text-indent: initial;
	border-spacing: 2px;
	border-color: grey;
}