@import url("components/live_games.css");

:root{
	--pagecolor:#080D1E;
	--sectioncolor:#181E2E;
	--p1color:#394EF8;
	--p2color:#FF001B;
	--p3color:#03FF2E;
	--p4color:#FFFF37;
	--p5color:#03FFFD;
	--p6color:#FF4BA9;
	--p7color:#6E6E6E;
	--p8color:#FF8B25;
}

h1, h2, h3, h4, h5, h6, p, li {
	font-family: 'Arimo', sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}


.navbar {
	background-color: var(--sectioncolor);
	display: flex;
	justify-content: space-between;
	width: 100vw;
}

.container {
	background-color: var(--pagecolor);
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.players {
	background-color: var(--sectioncolor);
	margin: 8px;
	flex: 1;
}

.leaderboard {
	background-color: var(--sectioncolor);
	margin: 8px;
	flex: 1;
}

.recent-achievements {
	background-color: var(--sectioncolor);
	margin: 8px;
	flex: 1;
}


.chat {
	background-color: var(--sectioncolor);
	margin: 8px;
	flex: 1;
}


.player {
	font-size:larger;
	border-radius: 50%;
	height: 25px;
 	width: 25px;
	text-align: center;
	top: 50%;
  line-height: 25px;
}
.p1 {
	background-color: var(--p1color);
	font-size: x-large;
}

.p2 {
	background-color: var(--p2color);
	font-size: x-large;
}

.p3 {
	background-color: var(--p3color);
	font-size: x-large;
	color: #008917
}

.p4 {
	background-color: var(--p4color);
	font-size: x-large;
	color: #938200;
}

.p5 {
	background-color: var(--p5color);
	font-size: x-large;
	color: #028C8B
}

.p6 {
	background-color: var(--p6color);
	font-size: x-large;
}

.p7 {
	background-color: var(--p7color);
	font-size: x-large;
}

.p8 {
	background-color: var(--p8color);
	font-size: x-large;
}

