<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="120">
  <title>GBAoe2.net</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="icon" type="image/x-icon" href="https://aoe2gb.s3.eu-west-2.amazonaws.com/images/Arch.png">
  <script type="module" src="../dashboardScript.js" defer></script>
  <script type="module" src="../functions.js" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/25dfb2bacb.js" crossorigin="anonymous"></script>
  <meta name="description" content="The dashboard home of the GB Age of Empires 2 community. Find, view and spectate your clan-mates games."> 
</head>