:root{
	--pagecolor:#080D1E;
	--sectioncolor:#181E2E;
	--p1color:#394EF8;
	--p2color:#FF001B;
	--p3color:#03FF2E;
	--p4color:#FFFF37;
	--p5color:#03FFFD;
	--p6color:#FF4BA9;
	--p7color:#6E6E6E;
	--p8color:#FF8B25;
}

h1, h2, h3, h4, h5, h6, p, li {
	color: white;
	margin: 0;
	padding: 0;
}


.navbar {
	background-color: var(--sectioncolor);
	display: flex;
	justify-content: space-between;
	width: 100vw;
}

.container {
	background-color: var(--pagecolor);
	display: flex;
	justify-content: space-between;
	border: 1px solid grey;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.players {
	background-color: var(--sectioncolor);
	border: 1px solid grey;
	margin: 3px;
	flex: 1;
}

.leaderboard {
	background-color: var(--sectioncolor);
	border: 1px solid grey;
	margin: 3px;
	flex: 1;
}

.current-games {
	background-color: var(--sectioncolor);
	border: 1px solid grey;
	margin: 3px;
	flex: 1;
}

.recent-achievements {
	background-color: var(--sectioncolor);
	border: 1px solid grey;
	margin: 3px;
	flex: 1;
}


.chat {
	background-color: var(--sectioncolor);
	border: 1px solid grey;
	margin: 3px;
	flex: 1;
}

.live-game-1v1 {
	display: flex;
	margin: 0 auto;
}

.game-header {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
}

.player {
	font-size:larger;
	border-radius: 50%;
	height: 25px;
 	width: 25px;
	text-align: center;
	top: 50%;
  line-height: 25px;
}
.p1 {
	background-color: var(--p1color);
}

.p2 {
	background-color: var(--p2color);
}

.p3 {
	background-color: var(--p3color);
}

.p4 {
	background-color: var(--p4color);
}

.p5 {
	background-color: var(--p5color);
}

.p6 {
	background-color: var(--p6color);
}

.p7 {
	background-color: var(--p7color);
}

.p8 {
	background-color: var(--p8color);
}

