:root{
	--pagecolor:#080D1E;
	--sectioncolor:#181E2E;
  --darksectioncolor:#101626;
	--p1color:#394EF8;
	--p2color:#FF001B;
	--p3color:#03FF2E;
	--p4color:#FFFF37;
	--p5color:#03FFFD;
	--p6color:#FF4BA9;
	--p7color:#6E6E6E;
	--p8color:#FF8B25;
}

body {
	margin: 0;
	min-height: 100vh;
}

html {
	background-color: var(--pagecolor);
}


h1, h2, h3, h4, h5, h6, li, p, th, td, a {
	font-family: 'Prompt', sans-serif;
	font-weight: 300;
	color: #C8C8C8;
	margin: 0;
	padding: 0;
}

td{
	width: 100px;
}

.center-align {
	text-align: center;
}

.navbar-container {
	background-color: var(--sectioncolor);
	justify-content: space-between;
	padding: 0px;
}

.navbar {
	background-color: var(--sectioncolor);
	display: flex;
	justify-content: space-between;
	max-width: 1920px;
	margin: 0px auto;
	
}

.navbar-buttons {
	display: flex;
	margin: 0px 8px;
	padding: 0 8px;
	align-items: center;
}

.navbar-buttons * {
	margin: 0px 8px;
}

#about-txt {
	padding: 4px 8px;
	background-color: var(--sectioncolor);
}

#status-txt {
	padding: 4px 8px;
	background-color: var(--darksectioncolor);
}

#about-btn:hover,
#status-btn:hover {
	color: white;
	cursor: pointer;
}

#about-btn,
#status-btn {
	transition-duration: 250ms
}

.container {
	background-color: var(--pagecolor);
	display: flex;
	justify-content: space-between;
	margin: 0px auto;
	padding: 0px;
	max-width: 1920px;
}

.players {
	background-color: var(--pagecolor);
	margin: 8px;
	flex: 1;
	padding: 4px;
}

.leaderboard {
	background-color: var(--pagecolor);
	margin: 8px;
	flex: 1;
}

.recently-completed-games {
	background-color: var(--pagecolor);
	margin: 8px;
	flex: 1;
	min-width: 470px;
	padding:4px
}

.chat {
	background-color: var(--sectioncolor);
	margin: 8px;
	flex: 1;
}


.player {
	font-size:larger;
	border-radius: 50%;
	height: 25px;
 	width: 25px;
	min-width: 25px;
	min-height: 25px;
	text-align: center;
	top: 50%;
  line-height: 25px;
}
.p1 {
	background-color: var(--p1color);
	font-size: x-large;
}

.p2 {
	background-color: var(--p2color);
	font-size: x-large;
}

.p3 {
	background-color: var(--p3color);
	font-size: x-large;
	color: #008917
}

.p4 {
	background-color: var(--p4color);
	font-size: x-large;
	color: #938200;
}

.p5 {
	background-color: var(--p5color);
	font-size: x-large;
	color: #028C8B
}

.p6 {
	background-color: var(--p6color);
	font-size: x-large;
}

.p7 {
	background-color: var(--p7color);
	font-size: x-large;
}

.p8 {
	background-color: var(--p8color);
	font-size: x-large;
}

#status-table>p:nth-child(odd) {
  background-color: var(--darksectioncolor);
	width: 250px;
}

#status-table>p:nth-child(even) {
	background-color: var(--sectioncolor); 
	width: 250px;
}

#leaderboard-table>tbody>tr:nth-child(even)>td, 
#leaderboard-table>tbody>tr:nth-child(even)>th {
  background-color: var(--sectioncolor) 
}

#leaderboard-table>tbody>tr:nth-child(odd)>td, 
#leaderboard-table>tbody>tr:nth-child(odd)>th {
  background-color: var(--darksectioncolor) 
}

.lh-side {
	min-width: 300px;
	margin: 8px 0px;
	padding: 4px
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	border-collapse: collapse;
	display: table;
	text-indent: initial;
	border-spacing: 2px;
	border-color: grey;
}

.btn {
	text-decoration: none;
  color: #158075;
  border-radius: 20px;
  border: 2px solid turquoise;
  padding: 5px;
  background-color: turquoise;
}

.title {
  font-weight: 100;
}

#logo {
  height: 50px;
  border-radius: 25px;
  margin: 0px 10px;
}



.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  top: 50%;
  left: 50%;
}

.loader > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  float: left;
  margin-left: 2px;
  -webkit-animation: delay 0.8s infinite ease-in-out;
  animation: delay 0.8s infinite ease-in-out;
}

.loader .bar1 {
  background-color: var(--p1color);
}

.loader .bar2 {
  background-color: var(--p2color);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.loader .bar3 {
  background-color: var(--p3color);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.loader .bar4 {
  background-color: var(--p4color);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loader .bar5 {
  background-color: var(--p5color);
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.loader .bar6 {
  background-color: var(--p6color);
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes delay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.05);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.display-none {
  display: none;
}

.current-games {
	background-color: var(--pagecolor);
	margin: 8px;
	flex: 1;
	min-height: 100vh;
	padding: 4px;
	min-width: 470px;
}

.live-game {
	background-color: var(--sectioncolor);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin: 8px auto;
	justify-content: space-evenly;
	padding: 8px 0px;
	position: relative;
	max-width: 550px;
}

.live-game * {
	margin: 0px 8px;
}

.live-game img {
	width: 25px;
	height: 25px;
}

.game-header {
	display: flex;
	justify-content: center;
	max-width: 500px;
	margin: 0px auto;
}

.game-header img {
	width: 25px;
	height: 25px;
}

.elo {
	display: flex;
	justify-content: center;
	max-width: 500px;
	margin: 0 auto;
}

.country {
	display: flex;
	justify-content: center;
	max-width: 500px;
}

#country-flag {
	width: 25px;
	height: 18px;
}

.game-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 500px;
	margin: 4px auto;
}

.game-time {
	display: flex;
	justify-content: center;
	max-width: 500px;
	margin: 4px auto;
}

.team-game-header {
	display: flex;
	justify-content: center;
	max-width: 500px;
	margin: 0px auto;
}

.team-game-player {
	display: flex;
	justify-content: center;
	max-width: 500px;
	margin: 4px auto;
}

.team-game-teams {
	display: flex;
	margin: 0px auto;
}

.game-properties {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.right-align {
	justify-content: right;
	text-align: right;
}

.left-align {
	justify-content: left;
	text-align: left;
}

.grid-container-team-1 {
	display: grid;
	grid-template-columns: 30px 30px 30px 150px;
}

.grid-container-team-2 {
	display: grid;
	grid-template-columns: 150px 30px 30px 30px;
}

.grid-container-1v1-team-1 {
	display: grid;
	grid-template-columns: 30px 30px 30px 130px;
}

.grid-container-1v1-team-2 {
	display: grid;
	grid-template-columns: 132px 30px 30px 30px;
}

.light-weight {
	font-weight: 100;
}

.spectate-btn {
	text-decoration: none;
	background-color: teal;
	border-radius: 15px;
	padding: 0px 4px;
	overflow: hidden;
	white-space: nowrap;
	transition-duration: 250ms;
}

.spectate-btn:hover {
	color: white;
}



