<%- include('./partials/staticHead.ejs') %>
<body>
  <div class="text-container">
    <h1>Oops. The page you're looking for doesn't exist</h1>
    <a href="../" class="player-name">Go to Dashboard</a>
  </div>
</body>
</html>
