.current-games {
	background-color: var(--pagecolor);
	margin: 8px;
	flex: 1;
	min-height: 100vh;
	min-width: 470px;
}

.live-game {
	background-color: var(--sectioncolor);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin: 8px auto;
	justify-content: space-evenly;
	padding: 8px 8px;
}

.live-game * {
	margin: 0px 8px;
}

.live-game img {
	width: 25px;
	height: 25px;
}

.game-header {
	display: flex;
	justify-content: center;
	max-width: 500px;
}

.game-header img {
	width: 25px;
	height: 25px;
}

.elo {
	display: flex;
	justify-content: center;
	max-width: 500px;
}

.country {
	display: flex;
	justify-content: center;
	max-width: 500px;
}

#country-flag {
	width: 25px;
	height: 18px;
}

.game-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 500px;
	margin: 4px auto;
}

.game-time {
	display: flex;
	justify-content: center;
	max-width: 500px;
	margin: 4px auto;
}

.team-game-header {
	display: flex;
	justify-content: center;
	max-width: 500px;
}

.team-game-player {
	display: flex;
	justify-content: center;
	max-width: 500px;
	margin: 4px auto;
}

.team-game-teams {
	display: flex;
}

.right-align {
	justify-content: right;
	text-align: right;
}

.left-align {
	justify-content: left;
	text-align: left;
}

.grid-container-team-1 {
	display: grid;
	grid-template-columns: 30px 30px 30px 150px;
}

.grid-container-team-2 {
	display: grid;
	grid-template-columns: 150px 30px 30px 30px;
}